VisualElement {}
GridBackground {
    --grid-background-color: #68778C;
    --line-color: rgba(43, 65, 94, 0.15);
    --thick-line-color: rgba(43, 65, 94, 0.15);
    --spacing: 20;
}
DialogueNodeView {
    border-radius: 6px;
    min-width: 200px;
}